[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
py-cord = "*"
pytz = "*"
requests = "*"
speechrecognition = "*"
wheel = "*"
pydub = "*"
openai = "*"
google-api-python-client = "*"
requests-html = "*"
beautifulsoup4 = "*"
yt-dlp = "*"
pynacl = "*"
numpy = "*"
simpleaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
